<section class="b-section dvContentBlock notas">
  <ol class="legal-notes-list">
    @for (note of notes(); track $index) {
      <li class="legal-notes-item">
        @for (paragraph of note.paragraphs; track $index) {
          <p>
            @for (part of paragraph; track $index) {
              @let seg = toSegment(part);
              @if (seg.href) {
                <a
                  [href]="seg.href"
                  [class.is-bold]="seg.bold"
                  [class.is-underline]="seg.underline"
                >{{ seg.text }}</a>
              } @else if (seg.bold || seg.underline) {
                <span
                  [class.is-bold]="seg.bold"
                  [class.is-underline]="seg.underline"
                >{{ seg.text }}</span>
              } @else {
                {{ seg.text }}
              }
            }
          </p>
        }

        @if (note.bullets?.length) {
          <ul class="legal-notes-bullets">
            @for (bullet of note.bullets; track $index) {
              <li>
                @for (part of bullet; track $index) {
                  @let seg = toSegment(part);
                  @if (seg.href) {
                    <a
                      [href]="seg.href"
                      [class.is-bold]="seg.bold"
                      [class.is-underline]="seg.underline"
                    >{{ seg.text }}</a>
                  } @else if (seg.bold || seg.underline) {
                    <span
                      [class.is-bold]="seg.bold"
                      [class.is-underline]="seg.underline"
                    >{{ seg.text }}</span>
                  } @else {
                    {{ seg.text }}
                  }
                }
              </li>
            }
          </ul>
        }
      </li>
    }
  </ol>
</section>
