<section class="info-banner">
  @if (config().overline) {
    <h2 class="header-uppercase">{{ config().overline }}</h2>
  }

  <h3 class="header-1" [class.is-bold]="config().titleBold !== false">
    {{ config().title }}
  </h3>

  @if (config().description?.length) {
    <p class="header-s">
      @for (part of config().description; track $index) {
        @let seg = toSegment(part);
        @if (seg.href) {
          <a
            [href]="seg.href"
            [class.is-bold]="seg.bold"
            [class.is-underline]="seg.underline"
          >{{ seg.text }}</a>
        } @else if (seg.bold || seg.underline) {
          <span
            [class.is-bold]="seg.bold"
            [class.is-underline]="seg.underline"
          >{{ seg.text }}</span>
        } @else {
          {{ seg.text }}
        }
      }
    </p>
  }
</section>
