<section class="info-banner" [ngSwitch]="config().showMode">

  <ng-container *ngSwitchCase="'full'">
    <ng-container *ngTemplateOutlet="templateCompleto"></ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="'simple'">
    <ng-container *ngTemplateOutlet="templateSimple"></ng-container>
  </ng-container>

</section>


<ng-template #templateCompleto>
  <h2 class="header-uppercase">{{ config().overline }}</h2>
  <h3 class="header-1">{{ config().title }}</h3>
  <p class="header-s" *ngIf="config().description">{{ config().description }}</p>
</ng-template>

<ng-template #templateSimple>
  <h3 class="header-1">{{ config().title }}</h3>
  <p class="header-s" *ngIf="config().description">{{ config().description }}</p>
</ng-template>