.u-container-box{
  display: flex;
  flex-direction: row;
  padding: 80px;
  justify-content: space-between;
  gap: 24px;
}

@media (max-width: 1024px) {
  .u-container-box{
    flex-direction: column;
    padding: 40px 24px;
    gap: 16px;
  }
}

@media (max-width: 600px) {
  .u-container-box{
    padding: 32px 16px;
    gap: 12px;
  }
}
